#!/usr/bin/make -f

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_installsystemd:
	dh_installsystemd --no-start --no-enable

override_dh_builddeb:
	# UDM use old dpkg version of dpkg without zst support
	dh_builddeb -- -Zgzip