[Unit]
Description=Generates DNS entries for client devices
Requires=udapi-server.service

[Service]
ExecStart=/usr/bin/udm-local-dns -config /etc/local-dns.toml
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target